<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Provider's Scheduling</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

 <!-- Favicons -->
 <link href="{{url_for('static', filename='assets/img/favicon.png')}}" rel="icon">
 <link href="{{url_for('static', filename='assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='assets/vendor/quill/quill.snow.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='assets/vendor/quill/quill.bubble.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='assets/vendor/simple-datatables/style.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static', filename='assets/css/style.css')}}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <div class="logo d-flex align-items-center">
        <!--<img src="assets/img/logo.png" alt="">-->
        <span class="d-none d-lg-block">Provider's Scheduling</span>
      </div>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            {% if notifications %}
            <span class="badge bg-success badge-number">.</span>
            {% endif %}
          </a><!-- End Notification Icon -->

          <ul style="width: 400px;" class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            
            <li>
              <hr class="dropdown-divider">
            </li>
            {% for notification in notifications %}
            <li class="notification-item">
              <i class="bi bi-info-circle text-primary"></i>
              <div>
                <p style="color: black;">{{notification.message}} - 
                  <a href="{{url_for('mark_as_readmin', notification_id=notification.id)}}">
                    Mark as Read
                  </a>
                </p>
              </div>
            </li>
            
            <li>
              <hr class="dropdown-divider">
            </li>
            {% endfor %}
          
          </ul><!-- End Notification Dropdown Items -->

        </li><!-- End Notification Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{{imagesrc}}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{name|safe}}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{name|safe}}</h6>
              <span>{{job}}</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{{url_for('adminhome')}}">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{{url_for('logout')}}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <!--<li class="nav-item">
        <a class="nav-link collapsed" href="">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->


      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link " href="{{url_for('adminhome')}}">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('setschedule') }}">
          <i class="bi bi-question-circle"></i>
          <span>Set Schedule</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('viewshiftrequests') }}">
          <i class="bi bi-envelope"></i>
          <span>View Shift Requests</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('trackattendance') }}">
          <i class="bi bi-card-list"></i>
          <span>Track Attendance</span>
        </a>
      </li>

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="card">
      <div class="card-body">
        <h5 style="font-size: x-large;" class="card-title">Set Shifts for Healthcare Service Providers</h5>

        <div class="success">{{success}}</div>  
        <div class="message">{{warn1}}</div>
        <div class="message">{{warn2}}</div>
        <div class="message">{{warn3}}</div>
        <!-- Multi Columns Form -->
        <form action="{{url_for('storeschedule')}}" method="POST" class="row g-3">
          <div class="col-md-12">
            <label for="inputName5" class="form-label" style="font-size: large;">Employee Name</label>
            <select class="form-control"  style="padding-right: 180px;
                        padding-top: 4px; width: 80%;
                        padding-bottom: 4px;" id="employeename" name="employeename" required>
                            <!--for looop-->
                            {% for option in options %}
                                <option value="{{ option.firstname }} {{ option.lastname }}">{{option.firstname}} {{ option.lastname }}</option>
                            {% endfor %}
                        </select>
          </div>
          <div class="col-md-12">
            <label for="inputName5" class="form-label" style="font-size: large;">Date</label>
            <input type="date" class="form-control" name="shiftdate" id="" style="width: 80%; margin-bottom: 18px;" required>
          </div>
          <div style="display: flex;
                      flex-direction: row;">
            <div class="col-md-6">
              <label for="inputEmail5" class="form-label" style="font-size: large;">Shift Start Time</label>
              <input type="time" class="form-control" name="shiftstarttime" id="" style="width: 30%; margin-bottom: 18px;" required>
            </div>
            <div class="col-md-6">
              <label for="inputPassword5" class="form-label" style="font-size: large;">Shift End Time</label>
              <input type="time" class="form-control" name="shiftendtime" id="" style="width: 30%; margin-bottom: 18px;" required>
            </div>
          </div>
    
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
          </div>
        </form><!-- End Multi Columns Form -->

        <br>
        <br>
        <p style="font-weight: 700;">Already Set Schedules</p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Day</th>
              <th scope="col">Date</th>
              <th scope="col">Start Time</th>
              <th scope="col">End Time</th>
            </tr>
          </thead>
          <tbody>
            {% for shift in shifts %}
              <tr>
                  <td>{{ shift.id }}</td>
                  <td>{{ shift.employeename }}</td>
                  <td>{{shift.shiftdate.strftime("%A")}}</td>
                  <td>{{shift.shiftdate}}</td>
                  <td>{{ shift.shiftstarttime }}</td>
                  <td>{{ shift.shiftendtime }}</td>
              </tr>
          {% endfor %}
    
          </tbody>
        </table>
      </div>
    </div>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Provider's Scheduling</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

 <!-- Vendor JS Files -->
 <script src="{{url_for('static', filename='assets/vendor/apexcharts/apexcharts.min.js')}}"></script>
 <script src="{{url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
 <script src="{{url_for('static', filename='assets/vendor/chart.js/chart.umd.js')}}"></script>
 <script src="{{url_for('static', filename='assets/vendor/echarts/echarts.min.js')}}"></script>
 <script src="{{url_for('static', filename='assets/vendor/quill/quill.min.js')}}"></script>
 <script src="{{url_for('static', filename='assets/vendor/simple-datatables/simple-datatables.js')}}"></script>
 <script src="{{url_for('static', filename='assets/vendor/tinymce/tinymce.min.js')}}"></script>
 <script src="{{url_for('static', filename='assets/vendor/php-email-form/validate.js')}}"></script>

 <!-- Template Main JS File -->
 <script src="{{url_for('static', filename='assets/js/main.js')}}"></script>

</body>

</html>